@model List<TeaShopApi.WebUI.Dtos.DrinkDtos.ResultDrinkDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-header">
                <h5>İçecek İşlemleri</h5>
               
            </div>
            <div class="card-body">
                <p>

                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>
                            <th>İçecek Adı</th>
                            <th>İçecek Fiyat</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
						</tr>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.drinkID</td>
                                <td>@item.drinkName</td>
                                <td>@item.drinkPrice</td>
                                <td><a href="/Admin/Drink/DeleteDrink/@item.drinkID" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/Admin/Drink/UpdateDrink/@item.drinkID" class="btn btn-outline-success">Güncelle</a></td>
                            </tr>
                        }

					</table>
                    <a href="/Admin/Drink/CreateDrink" class="btn btn-outline-primary">Yeni İçecek Girişi</a>
                </p>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>